.feed {
  background-color: #E8E8E8;
  min-height: 100vh;
  padding-top: 80px;  
}

.feed-container {
  display: flex;
  height: 100vh;          /* вот ключ для разделения скроллов! */
  margin: 0 auto;
  gap: 60px;
  padding: 0 20px;        /* только горизонтальные паддинги */
}
.feed-left {
  width: 300px;
  flex-shrink: 0;
}

.feed-title {
  font-size: 45px;
  font-weight: bold;
  padding-top: 20px;
  color: #000;
  margin-bottom: 30px;
}

.feed-content {
  flex: 1;
  /*padding: 20px;*/
  overflow-y: auto;              /* скролл только для ленты! */
  padding: 32px 24px 32px 24px;
  margin-top: 93px;
  min-width: 0;                  /* чтобы не распирало */
  background: #f8f8f8;
  border-radius: 37px;         
}

.feed-logo {
  position: absolute;   /* чтобы элемент не влиял на поток */
  top: 95px;           /* смещение вниз на 95px */
  right: 10px;          /* прилипание к правому краю с отступом 10px */
  text-align: left;   
  font-size: 48px;  
  letter-spacing: 2px;  
  padding-left: 0;      
  height: auto;         
  width: auto;          
  z-index: 10;          
  margin-right: 10px;
}
