.header {
  background-color: #8E8FFA;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
  border-radius: 16px;
  z-index: 100;
  box-shadow: 0 4px 16px #c1c1c1;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.header-nav a {
  color: white;
  /*font-size: clamp(16px, 1.5vw, 50px);  /* Адаптивный размер */
  font-size: 23px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 25px;                   /* Делает кнопки больше */
}

.header-nav a:hover {
  color: #c4c2c2;
}

.header-auth-btn {
  color: white;
  font-size: 23px;
  font-weight: 500;
  background: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 13px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
}

.header-auth-btn:hover {
  background: white;
  color: #9a9a9a;
}

.header-logout-btn {
  border-color: #ffffff;
  color: #ffffff;
}

.header-logout-btn:hover {
  background: #ffaeae;
  color: white;
}

.header-login-btn {
  border-color: white;
  color: white;
}

.header-login-btn:hover {
  background: white;
  color: #8E8FFA;
}
