.profile-card {
  display: flex;
  align-items: center;
  background: #C2D9FF;
  border-radius: 8px;
  box-shadow: 0 4px 16px #c1c1c1;
  min-width: 500px;
  min-height: 220px;
  padding: 16px;
  margin: 16px;
}

.profile-avatar {
  width: 160px;
  height: 160px;
  margin-right: 24px;
  border-radius: 16px; /* Для 'rounded' */
}

.profile-content {
  padding: 0;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  font-family: 'MainFont';
}

.profile-friends,
.profile-university {
  font-size: 18px;
  margin-top: 8px;
}

.profile-actions {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.profile-btn {
  border-radius: 4px;
  /*font-family: "Rubik Mono One", monospace;*/
  text-transform: none;
}
